<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"> <!-- добавляем поддержку русского языка -->
    <title>Добро пожаловать</title>
    <style>
        body {
            background-color: #333; /* темный фон */
            color: #fff; /* светлые буквы */
            font-family: Arial, sans-serif;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Добро пожаловать</h1>
<form action="/" method="get"> <!-- форма с кнопкой "Войти" -->
    <input type="submit" value="Войти">
</form>
</body>
</html>
